<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #map_canvas{
   height:100%;
   width:75%;
  }
  #resultsCanvas{
   height:100%;
   width:25%;
   float:left;
  }
</style>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/csv.js"></script>
<script type="text/javascript">
google.load('maps','3',{other_params:'sensor=false&language=zh'}); // load the maps api

function initialize() {
	var map = createMap();	
	// TODO: should mark the map based on current locations
	// process("locations.csv", map);
}

function createMap() {	
	var myLatlng = new google.maps.LatLng(0, 0);
	var myOptions = {
		zoom: 2,
	    center: myLatlng,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	}
  	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	gbarOptions = {
		resultList : document.getElementById('resultsCanvas')
	};
	map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push((window.gbar=new window.jeremy.jGoogleBar(map,gbarOptions)).container);
	
	return map;
}

function process(csv_file, map) {
	$.ajax({
	  type: 'GET',
	  url: csv_file,
	  cache: false,
	  success: function(csv){ 
		markLocations(csv, map);	
	  }
	});		
}

function markLocations(csv, map) {
	var latlngbounds = new google.maps.LatLngBounds();
	var infowindow = new google.maps.InfoWindow({
		maxWidth: 400,
		content: "doesn't matter..."
	});

	$.each(parseCSV(csv), function(index, location) {
		var point = new google.maps.LatLng(location['Lat'], location['Long']);
		latlngbounds.extend(point);
		
		var marker = new google.maps.Marker({
			position: point,
			map: map,
			title: location['Name'],
			html: '<h2><a href="' + location['URL'] + '" target="_blank">' + location['Name'] + '</a></h2><em>' + location['Description'] + '</em><p><img src="' + location['Thumb_URL'] + '" height="160px" /></p>'
		});
		
		google.maps.event.addListener(marker, "click", function(){
			infowindow.setContent(this.html);
			infowindow.open(map, this);
		});
	});
	map.fitBounds(latlngbounds);	
}

google.setOnLoadCallback(initialize);
</script>
<script type="text/javascript" src="/javascripts/jGoogleBarV3.js"></script>
</head>
<body>
	<div id='edit_form'>
		<%= form_for(@trip, :url => trip_path(@trip), :html => {:method => :put}) do |f| %>
			<%= f.text_field :name %>
			<%= f.text_area :description %>
			<%= f.submit '更新我的地图故事' %>
		<% end %>
	</div>
	
	<div id='locations'>
		<ul>
			<% @trip.locations.each do |location| %>
			<li><%= location.name %> ( <%= location.latitude %>, <%= location.longitude %>)</li>
			<% end %>
		</ul>
	</div>
	
	<div id='add_location_form'>
		<%= form_for(@trip, :url => trip_locations_path(@trip), :html => {:method => :post}) do |f| %>
			<%= f.fields_for :locations do |location_f| %>
				<%= location_f.text_field :name %>
				<%= location_f.text_area :description %>
				<%= location_f.text_field :latitude %>
				<%= location_f.text_field :longitude %>
				<%= location_f.text_field :image_url %>
				<%= location_f.text_field :thumbnail_url %>
				<%= location_f.submit '添加新地点' %>
			<% end %>
		<% end %>
	</div>
	
	<div id='map_search'>
	  	<div id="resultsCanvas"></div>
	</div>
	
  	<div id="map_canvas"></div>
</body>
</html>
