<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<title>GeoXtory | <%= @trip.name %></title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery.galleriffic.js', 'jquery.opacityrollover.js' %>
<%= javascript_include_tag 'csv.js', 'http://www.google.com/jsapi', 'map_show', 'map_gallery' %>
	
<script type="text/javascript">
function initialize() {
	var map = createMap();	
	populateMap(map, "<%= url_for :controller => 'trips', :action => 'csv', :id => @trip %>");
	
	initGallery();
}

google.setOnLoadCallback(initialize);
</script>
</head>
<body>
	<header>
		<%= image_tag 'logo.gif', :class => 'logo' %>
	</header>
	<div class='main'>
  		<div id="map_canvas"></div>
		<div id="locations">
			<div id='slide_control'></div>
			<ul class='thumbs noscript'>
				<%= render partial: 'location', collection: @trip.locations %>
			</ul>
		</div>
		<div id="current_location"></div>
		<div id='description'></div>
	</div>
	<footer>
	</footer>
</body>
</html>