<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>GeoXtory</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
<header>
  <%= image_tag 'logo.gif', :class => 'logo' %>
</header>
<div class="container">
  <div class="content">
    <div class="showcase span6">
      <ul>
        <li>
            <div class="tripDescription">
              <div id="tripName"><%= @trip.name %></div>
              <div id="tripDetails"><%= @trip.description %></div>
            </div>
        </li>
        <% flag=0 %>
        <% 3.times do %>
            <% location = @trip.locations[flag] %>
            <li class="head<%= flag %>">
              <%= link_to(image_tag(location.thumbnail_url, :class => 'thumbnail_image'),
                          location.image_url, :title => location.name) %>
              <p class='name'><%= location.name %></p>
            </li>
        <% flag+=1 %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</body>
</html>